extends ../layout

block content
    H1 Create Article
    if error
        p Error: #{ error }
    meta(name="csrf-token" content=csrfToken)
    div(id="create_article_form")

    script(src="../../create_article.js")