extends ../layout

block content
    h1 Articles
    table.table
        thead
            tr
                th(scope="col") Article Title
                th(scope="col") Article Image
                th(scope="col") Article Contents
        tbody
            for article in articles
                tr
                    td
                        span #{article.title}
                    td
                        img(src=article.image_url alt=article.title)
                    td
                        span #{article.contents}